{% extends "myapp/layout.html" %}

{% block title %} ติดต่อเรา {% endblock %}

{% block content %}
<main>
    <div class="lead">
        <h1>ติดต่อเรา</h1>
    </div>
    <h2>ขายอุปกรณ์</h2>
      <p class="lead">IoT คืออะไร ? อุปกรณ์แบบไหนเรียก IoT ? <br>
        เชื่อว่าหลาย ๆ คนน่าจะเคยเห็นและคุ้นเคยกับคำว่า "IoT (Internet of Things)" กันมาบ้างแล้ว เพราะทุกวันนี้อุปกรณ์ IoT ก็ได้เข้ามาช่วยอำนวยความสะดวกในการใช้ชีวิตและการทำงานของเราจนแทบจะเป็นส่วนหนึ่งในชีวิตประจำวันของเราไปแล้ว แต่บางคนอาจยังไม่แน่ใจว่าอุปกรณ์อิเล็กทรอนิกส์ที่เราใช้งานกันอยู่เป็นประจำนั้นเป็นอุปกรณ์ IoT หรือไม่ ? และเจ้าอุปกรณ์ IoT ที่ว่านี้มีกี่ประเภทและมีหลักการทำงานอย่างไรบ้าง ดังนั้นเราจึงรวบรวมคำตอบของสิ่งที่หลายคนสงสัยเกี่ยวกับอุปกรณ์ IoT มาไว้ในบทความนี้แล้ว</p>
      <p class="lead">
        <a href="{% url 'learn-more' %}" class="btn btn-lg btn-light fw-bold border-white bg-white">เรียนรู้เพิ่มเติม</a>
      </p>
</main>
{% endblock %}