{% extends "myapp/layout.html" %}

{% block title %} หน้าแรกเว็บไซต์ | Witty Shop {% endblock %}

{% block content %}
<h2 class="mb-3"> สินค้ายอดนิยม </h2>
<body>
  <div class="contenainer">
    <div class="products-con">
      {% for product in products %}
      <div class="products-item">
        <div class="products-img">
            <img src="{{product.image.url}}" height="200">
        </div>
        <br>
      <div class="products-name">
        <h4>{{product.name}}</h4>
        
        <div class="products-detail">
          <p>
            {{product.description}}
          </p>          
        </div>
      </div>
      <div class="products-price">
        <div class="products-left">
          {{product.price}}THB
        </div>
        <div class="products-rigth">
          <span>สินค้าคงเหลือ {{product.stock}} ชิ้น</span>
        </div>     
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock content %}