{% extends "myapp/layout.html" %}

{% block title %} บทความ {% endblock %}

{% block content %}
<main class="float-md-start text-align">
    <div>
        <h2>IoT คืออะไร ? มีหลักการทำงานอย่างไร ?</h2>
        <p>
            IoT หรือที่ย่อมาจากคำว่า “Internet of Things” ในภาษาไทย ถ้าแปลตรง ๆ เลยก็คือ "อินเทอร์เน็ตในทุกสิ่ง" หรือ "อินเทอร์เน็ตของสรรพสิ่ง" (แล้วแต่จะเรียก) <br>นั้นคำอธิบายถึงอุปกรณ์ต่าง ๆ ที่มีตัวประมวลผล, ตัวรับสัญญาณ, ซอฟต์แวร์ หรือเทคโนโลยีอื่น ๆ ที่มีการเชื่อมต่อและแลกเปลี่ยนข้อมูลกับอุปกรณ์อื่น ๆ ผ่านทางเครือข่ายอินเทอร์เน็ต
        </p>
        <img src="https://www.tibco.com/content/dam/tibco/images/screenshot/iot.png" width="500">
        <h6>ภาพจาก : https://www.tibco.com/reference-center/what-is-the-internet-of-things-iot</h6>
    </div>
</main>
{% endblock %}