{% extends "myapp/layout.html" %}

{% block title %} เช็คเลขพัสดุ | Witty Shop {% endblock %}

{% block content %}
<main class="container-fluid" style="margin-top: 0;">
  <div>
    {% if request.user.is_superuser %}
    <a href="{% url 'addtrack' %}" type="button" class="btn btn-info btn-lg">เพิ่มข้อมูล Tracking</a>
    {% else %}
    <a role="button" class="btn btn-info btn-lg disabled" aria-disabled="true">เพิ่มข้อมูล Tracking</a>
    {% endif %}
  </div>
    <div class="d-flex justify-content-center">
        <table class="table table-dark table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">ลำดับ</th>
                <th scope="col">ชื่อ นามสกุล</th>
                <th scope="col">หมายเลขพัสดุ</th>
                <th scope="col">ลบ</th>
                <th scope="col">แก้ไข</th>
              </tr>
            </thead>
            <tbody>
                {% for t in tracks %}
                  {% if t.tracking %}
                <tr>
                  <th scope="row">{{t.id}}</th>
                  <td>{{t.name}}</td>
                  <td>{{t.tracking}}</td>

                  {% else  %}
                  <th scope="row">{{t.id}}</th>
                  <td>{{t.name}}</td>
                  <td>ยังไม่จัดส่งสินค้า</td>
                  {% endif %}
                  {% if request.user.is_superuser %}
                  <td><a href="delete/{{t.id}}"
                    class="btn btn-danger"
                    onclick="return confirm('ยีนยันการลบ {{t.name}} หรือไม่ ?')">ลบ</a>
                  </td>
                  <td><a href="edit/{{t.id}}" class="btn btn-warning">แก้ไข</a></td>
                  {% else %}
                  <td><a role="button" class="btn btn-danger disabled" aria-disabled="true"
                    >ลบ</a>
                  </td>
                  <td><a role="button" class="btn btn-warning disabled" aria-disabled="true">แก้ไข</a></td>
                  {% endif %}
                </tr>
                {% endfor %}
            </tbody>
          </table>
    
    </div>
</main>
{% endblock %}